@use "./variables" as *;

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: $primary-bg;
  color: $text-color;
}

#root {
  display: flex;
  justify-content: center;
}

.app-container {
  width: 100%;
  max-width: 1400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
}